.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas de tamanho igual */
    gap: 20px;
    padding: 20px;
}

.card {
    border-radius: 7px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header{
    align-items: center;
    justify-content: center;
}

.modal-button{
    border-radius: 4px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}